@model List<DuLich.Models.EF.BanTin>
@using DuLich.Models.EF
@{
    ViewBag.Title = "Danh mục bản tin";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var tin = (DuLich.Models.EF.BanTin)ViewBag.Tin;
}



<div class="page-title wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fa-leaf bg-green"></i> Cùng khám phá: @tin.ViTri </h2>
            </div><!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@tin.DanhMuc.TenDanhMuc</li>
                    
                </ol>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-list clearfix">
                        @foreach (var it in Model)
                        {

                            <div class="blog-box row">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="/ChiTietBanTin/Index/@it.IDBanTin" title="">
                                            <img src="/forest-time/upload/@it.Anh.Anh1" alt="" class="img-fluid">
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="blog-meta big-meta col-md-8">
                                    <span class="bg-aqua"><a href="garden-category.html" title="">@it.ViTri</a></span>
                                    <h4><a href="/ChiTietBanTin/Index/@it.IDBanTin" title="">@it.TieuDe</a></h4>
                                    <p>@it.BanTinNgan</p>
                                    <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> @it.SoLuotXem</a></small>
                                    <small><a href="garden-single.html" title="">@it.NgayDang</a></small>
                                    <small><a href="#" title="">Tác giả: @it.TableUser.Username</a></small>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->

                            <hr class="invis">
                        }

                    </div><!-- end blog-list -->
                </div><!-- end page-wrapper -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-start">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->

            @{Html.RenderAction("TinHot", "Home");}<!-- end row -->
        </div><!-- end container -->
</section>


